<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmployeeDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EmployeeDatabase.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\150835\Desktop\DatabaseTest\DatabaseTest\DatabaseTest\Employees.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
    </connectionStrings>
    <applicationSettings>
        <EmployeeDatabase.Properties.Settings>
            <setting name="SQL_Employee" serializeAs="String">
                <value>SELECT * FROM tbl_employees</value>
            </setting>
            <setting name="SQL_LoginInformation" serializeAs="String">
                <value>SELECT * FROM tbl_login</value>
            </setting>
        </EmployeeDatabase.Properties.Settings>
    </applicationSettings>
</configuration>